# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/sat-transport?retryWrites=true&w=majority

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
OWNER_EMAIL=owner-email@gmail.com

# CORS
FRONTEND_URL=http://localhost:5173
JWT_SECRET=815526dcd3e238ac3f2425cf123c4e9450e3b073860d43e82cdeccc964edf88c5bc42b73bc3cedd58293aec9ac3f6ece10394991bc070c9676731c3d5e053b0e